.main_ta
{
   width:100%;
   height:250px;
   text-align:left;
   font-size:150%;
}
.tb
{
   width:100%;
   font-size:150%;
}
.gb:hover
{
    border-color:#ccc;
    background:#ccc;
}
.gb
{
    margin:10px;
    border-style:solid;
    border-width:10px;
    border-color:#eeeeee;
    background:#eeeeee;
    filter:alpha(opacity=100);
    opacity:1;
}

#prev_label
{
    color:dodgerblue;
    font-size:150%;
    line-height:3em;
}
.code
{
   background:black;
   color:green;
}
abbr, acronym, .explain {
    border-bottom: 1px dotted;
    cursor: help;
}
