@font-face {
    font-family: 'Tuladha Jejeg';
    src: local("ꦲꦤꦕꦫꦏ"),
         url('TuladhaJejeg_gr.eot'),
         url('TuladhaJejeg_gr.eot?#iefix') format('embedded-opentype'),
         url('TuladhaJejeg_gr.woff') format('woff'),
         url('TuladhaJejeg_gr.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
.main_ta
{
    font-family: 'Tuladha Jejeg';
   width:100%;
   height:250px;
   text-align:left;
   font-size:150%;
}
.tb
{
    font-family: 'Tuladha Jejeg';
   width:100%;
   font-size:150%;
}
.gb:hover
{
    border-color:#ccc;
    background:#ccc;
}
.gb
{
    font-family: 'Tuladha Jejeg';
    margin:10px;
    border-style:solid;
    border-width:10px;
    border-color:#eeeeee;
    background:#eeeeee;
    filter:alpha(opacity=100);
    opacity:1;
}

#prev_label
{
    font-family: 'Tuladha Jejeg';
    color:dodgerblue;
    font-size:150%;
    line-height:3em;
}
.code
{
   background:black;
   color:green;
}
abbr, acronym, .explain {
    border-bottom: 1px dotted;
    cursor: help;
}
